$font-primary: 'Patua One';

$orange: #fa5b33;
$background-gray: #DBDBDB;
$blue: #3928aa;
$background-pink: #ffeef0;
$blue-gray: #494e61;
$light-gray: #eeeeee; 
$dark-pink: #e09583;
$light-pink: #FFF6F7; 
$lighter-pink: #ee9d9d; 
$black: #000; 
$white: #fff; 
$grey: #808080;
$medium-grey: #DCDCDC;
