/* algemeen */
* {
    font-family: "Segoe UI"; 
    box-sizing: border-box;    
}

header {
    background-color: #494e61; 
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.account
{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
}

#profile{
    grid-column: 2 / span 1;
    grid-row: 1 / 3;
    align-self: center;
}

.logo {
    background-image: url(img/logo.svg); 
    background-repeat: no-repeat;
    background-size: contain; 
    width: 200px;
    height: 50px; 
    margin-top: 20px;
    margin-left: 20px;
}

.logo span {
    color: #fff; 
}

.account p {
    color: #fff;
    opacity: 0.7; 
    width: 120px;
    margin: 0px;
    margin-right: 20px; 
}

.account a {
    color: #ee9d9d; 
}

.account img {
    width: 50px;
    height: 50px; 
    border-radius: 10%; 
}

/* home.html */




/* kweeni.html */

#vraag {
    display: block; 
    background-color: #ffeef0;
    text-align: center; 
    padding: 20px; 
}

#vraag h1 {
    color: #fa5b33; 
    font-size: 40px; 
    padding: 20px 60px;
    margin: 0px; 
}

#vraag input {
    border-color: #fa5b33;
    width: 80%;
    height: 70px; 
    padding: 20px; 
}

#vraag button {
    width: 250px;
    height: 50px; 
    background-color: #3b1cff; 
    color: #e4e0ff; 
    font-size: 25px; 
    margin: 20px; 
    border-radius: 12px; 
}

#topics {
    padding: 30px; 
}

#topics h2 {
    text-align: center; 
}

#topics .question {
    display: grid;
    grid-template-columns: 100px 3fr 2fr 30px;
    align-items: center;
    
}

#topics .question .likes {
    background-color: #eeeeee;
    width: 70px; 
    height: 40px; 
}

#topics .question .likes img {
    width: 20px; 
}

#topics .question .q {
    justify-self: start;
}

#topics .question .author {
    color: #e09583; 
    justify-self: end;
}

#topics .question img {
    width: 20px;
    border-radius: 20%; 
    justify-self: end;
}

#topics hr {
    opacity: 0.5; 
}

#topics a {
    display: block; 
    margin: 50px; 
    text-align: center; 
}

/* container */
@media (min-width: 1000px){
    .container {
        width: 1400px;
        margin: 0 auto; 
    }
    
}

/* watis.html */
#main
{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 70px 90px; 
}

#head {
    background-color: #FFF6F7;
    text-align: center; 
    padding: 20px; 
    display: grid;    
    grid-column-start: span 3;
}

#head h1 {
    color: #fa5b33; 
    font-size: 40px; 
    padding: 20px;
    margin: 0px; 
    font-weight: bold;
}

.auteur
{
    color: #fa5b33;
    font-style: italic;
    margin-right: 20px;
    background-color: #FFF6F7;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 50px;
    grid-column-start: span 3;
    justify-items: end;    
}

.auteur p
{
    margin: 0px;
}

.auteur span
{
    font-weight: bold;
    font-style: normal;
    margin: 0px;
}

.auteur .avatar
{
    width: 40px;
    border-radius: 10%;
    grid-column: 2 / span 1;
    grid-row: 1 / 3;
    align-self: start;
}


.likes
{
    background-color:#F6E5E7;
    color: blue;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3 / span 4;
}

.like img
{
    width: 30px;
    margin-left: 30px;
    margin-top: 15px; 
}

#like_p
{
    font-size: 32px;
    display: inline;
    margin: 0px;
    width: 80px;
}

.like a
{
    display: inline-block;
    font-weight: bold;
    padding: 15px;
    padding-top: 5px;
    text-align: center;
}

.users
{
    background-color: #FFEEF0;
    padding: 25px;
}

#users_pic
{
    max-width: 100%;
    width: 20px;
    border-radius: 20%;
}

.comments_pic{
    width: 30px;
    border-radius: 20%;
}

.comments
{
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: grey;
}

.comments a {
    text-decoration: none;
    color: gray;
}

.right {
	text-align: right;
}

<<<<<<< HEAD
.comments.right
{
    width: 350px;
}

.place-comment
{
    border: 15px solid #DCDCDC;
    width: 300px;
}

.place-comment input
{
    width: 100%;
    padding: 5px;
}

.react
{
    border: 15px solid #494e61;
    background-color: #494e61;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.react img
{
    width: 40px;
}

.react .text-input
{
    width: 80%;
    height: 40px;
    background-color: #DCDCDC;
    margin-top: -20px;
}

.react .button-input
{
    background-color: #3B1CFF;
    color: #DCDCDC;
    text-transform: uppercase;
    padding: 10px;
    width: 250px;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


@media (min-width: 50em) {
    
}
=======
>>>>>>> 2dd4df0395fc5ecd9c07b70b95e25e8ff2a991eb









