html(lang='en')
  head
    meta(charset='UTF-8')
    title Kweeni
    link(rel='stylesheet', href='../style.css')
    link(href='Patua_One/PatuaOne-Regular.ttf', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    section.homeheader
      .grid
        a.homeheader__logoxl(href='home.html')
        h1 Eerste hulp bij design & development hoofdpijn. Kweeni hoe handig.
        a.homeheader__inloggen(href='#')
      .homeheader__userpictures
        #key0.userpicture(style='background-image:url(/img/user1.png)')
        #key1.userpicture(style='background-image:url(/img/user2.png)')
        #key2.userpicture(style='background-image:url(/img/user3.png)')
        #key3.userpicture(style='background-image:url(/img/user4.png)')
        #key4.userpicture(style='background-image:url(/img/user5.png)')
        #key5.userpicture(style='background-image:url(/img/user6.png)')
        #key6.userpicture(style='background-image:url(/img/user7.png)')
        #key7.userpicture(style='background-image:url(/img/user8.png)')
        #key8.userpicture(style='background-image:url(/img/user9.png)')
        #key9.userpicture(style='background-image:url(/img/user10.png)')
        #key10.userpicture(style='background-image:url(/img/user11.png)')
        #key11.userpicture(style='background-image:url(/img/user12.png)')
        .filler
        .filler
        .filler
        .filler
        .filler
        .filler
        .filler
    main.homemain
      article.homemain__firstarticle
        .align
          img(src='img/icon-cool.svg', alt='smiley1')
          h2 Samen slimmer
        p Iedereen kan een nieuw KWEENI-topic aanmaken en de link delen.
        p Daarna kunnen vragen gesteld worden tijdens lessen, demo’s, …
      article
        .align
          img(src='img/icon-love.svg', alt='smiley2')
          h2 Kweeni coins
        p
          | Verdien KWEENI coins door anderen te helpen. Met je KWEENI coins kan je andere bedanken die je helpen.
        p Da’s kweeni hoe handig.
      article
        .align
          img(src='img/icon-rainbow.svg', alt='smiley3')
          h2 Made by imd
        p Een project van #WeAreIMD en GoodBytes.be
