extends layout

block content
    section.homeheader
      .grid
        a.homeheader__logoxl(href='/')
        h1 Eerste hulp bij design & development hoofdpijn. Kweeni hoe handig.
        a.homeheader__inloggen(href='/facebook')

      .homeheader__userpictures
        each picture, i in pictures
          img.userpictures(src=picture.picture, alt='', id=pictures[i])
          .filler
        
    main.homemain
      article.homemain__firstarticle
        .align
          img(src='img/icon-cool.svg', alt='smiley1')
          h2 Samen slimmer
        p Iedereen kan een nieuw KWEENI-topic aanmaken en de link delen.
        p Daarna kunnen vragen gesteld worden tijdens lessen, demo’s, …
      article
        .align
          img(src='img/icon-love.svg', alt='smiley2')
          h2 Kweeni coins
        p
          | Verdien KWEENI coins door anderen te helpen. Met je KWEENI coins kan je andere bedanken die je helpen.
        p Da’s kweeni hoe handig.
      article
        .align
          img(src='img/icon-rainbow.svg', alt='smiley3')
          h2 Made by imd
        p Een project van #WeAreIMD en GoodBytes.be
