doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Kweeni
    link(rel='stylesheet', href='../style.css')
    link(href='Patua_One/PatuaOne-Regular.ttf', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
  body
    header
      .logo
        img.logo__img(src='/img/logo.svg', alt='kweeni')
      .account
        p.account__p Anneke Kodeur
        img.profile(src='/img/user8.png', alt='profile pic')
        a.account__a(href='#') Uitloggen
    section.question
      .container
       form(action="" method="post" )
        h1.question__h1 Iets kweeni hoe moeilijk? Stel hier je vraag.
        input.question__input(type='text', placeholder='Wat is expressjs?' name="question__input")
        .question__btn
          button.question__btn--btn(type='submit') NU VRAGEN
    .container
      section.topics
        h2.topics__h2 Hot topics!
        each question, i in questionslist
          .topics__question
            .topics__question--likes
              img.topics__question--img(src='img/icon-cool.svg', alt='icon')
              span x33
            p.topics__question--p #{question.text}
            p.topics__question--author #{question.user_id}
            img.topics__question--img(src='img/user1.png', alt='Yves')
          hr
          
        a.topics__a(href='#') Toon 10 extra topics


    script(src='/javascripts/primuslib.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/facebook.js')