doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Kweeni
    link(rel='stylesheet', href='../style.css')
    link(href='Patua_One/PatuaOne-Regular.ttf', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
    
    script(src='/javascripts/primuslib.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/facebook.js')
    script(src='http://connect.facebook.net/en_US/all.js') 