doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Kweeni
    link(rel='stylesheet', href='../css/style.css')
    link(rel='shortcut icon', type='image/png', href='../img/favicon.ico')
    link(href='https://fonts.google.com/specimen/Patua+One', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
    
    script(src='/javascripts/primuslib.js')
    script(src='/javascripts/app.js')
    