doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Wat is express.js
    link(rel="stylesheet" type="text/css" href="style.css")
    link(href="Patua_One/PatuaOne-Regular.ttf" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      .logo
        img(src="img/logo.svg" alt="kweeni")
      .account
        p Anneke Kodeur
        img#profile(src="img/user8.png" alt="profile pic")
        a(href="#") Uitloggen
    main#main
      #head
        h1 "Wat is express.js en waarvoor dient het?"
      .auteur
        p 12 minuten geleden gevraagd door
        img.avatar(src="img/user8.png" alt="active_user")
        span Anneke Kodeur
      .likes
        .like
          img(src="img/icon-cool.svg" alt="smiley_cool")
          p#like_p x20
          a(href="#") like deze vraag
      .users
        img#users_pic(src="img/user1.png")
        img#users_pic(src="img/user2.png")
        img#users_pic(src="img/user3.png")
        img#users_pic(src="img/user4.png")
        img#users_pic(src="img/user5.png")
        img#users_pic(src="img/user6.png")
        img#users_pic(src="img/user7.png")
        img#users_pic(src="img/user8.png")
        img#users_pic(src="img/user9.png")
        img#users_pic(src="img/user10.png")
        img#users_pic(src="img/user11.png")
        img#users_pic(src="img/user12.png")
    .container
      section
        article.comments
          p
            | Op de site staat: Express is a minimal and flexible Node.js web application framework that provides a robust set of features
            | for web and mobile applications.
          img.comments_pic(src="img/user1.png" alt="user10")
          a(href="#") Jay Ba-Kend
        .right
          article.comments.right
            p
              | Thanks. Maar maarvoor dient dat eigenlijk? Frontend?
            img.comments_pic.right_pic(src="img/user8.png" alt="user8")
            a.author(href="#") Anneke Kodeur
          article.comments.right
            p
              | Nee het is puur voor de backend. Vergelijk het met PHP. In je frontend kan je nog altijd gebruik maken van jQuery ofzo als
              | je dat wil.
            img.comments_pic.right_pic(src="img/user3.png" alt="user20")
            a(href="#") Jef Dev
        .place-comment
          input(type="text" placeholder="Plaats commentaar...")
        article.comments
          p
            | Express.js is eigenlijk gewoon een soort van bibliotheek met een hele hoop functies die het makkelijker maken om app ste
            | schrijven in nodejs. Een beetje zoals jQuery in frontend. Maar dan voor je back-end werk.
          img.comments_pic(src="img/user9.png" alt="user5")
          a(href="#") Som Wan
        .place-comment
          input(type="text" placeholder="Plaats commentaar...")
        .react
          form#form(action="" method="post")
            img.user-avatar(src="img/user8.png" alt="user")
            input.text-input(type="text" name="new-comment" value="Reageer hier op deze vraag")
            a(href="#") Reageren
