@import url('https://fonts.googleapis.com/css?family=Patua+One');
body{
    margin:0;
}

* {
    box-sizing: border-box;    
    font-family: 'Patua One', cursive;
}

header {
    background-color: #494e61; 
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.account
{
    display: grid;
    grid-template-columns: 120px 50px;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    justify-self: end;
}

.profile{
    grid-column: 2 / span 1;
    grid-row: 1 / 3;
    align-self: center;
}

.logo {
    align-self: center;
}

.logo__img {
    max-width: 200px;
    margin-left: 5px;
}

.account__p {
    color: #fff;
    opacity: 0.7; 
    width: 120px;
    margin: 0px;
    margin-right: 20px; 
}

.account__a {
    color: #ee9d9d; 
    justify-self: end;
    padding-right: 10px; 
}

.account img {
    width: 50px;
    height: 50px; 
    border-radius: 10%; 
}

/* home.html */

.homeheader__logoxl{
    margin-top:50px;
    display:block;
    width:50%;
    height:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(img/logo-xl.svg);
}

.homeheader__inloggen{
    width:280px;
    height:60px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(img/inloggen.png);
    margin-bottom:60px;
}

.homeheader{
    background-color:#DBDBDB;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1{
    width:75%;
    font-size:1.5em;
}

.homeheader__userpictures{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}


.userpicture{
    flex:1 1 0;
    width:0;
    min-width:100px;
    min-height:100px;
    
    
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

.filler {
    flex: 1 1 0;
    height: 0px;
    
    /*style*/
    margin: 0 0.5em; 
    padding: 0 1em;
}

.homemain{
    padding:40px;
}

.align{
    display:flex;
    
}

.align h2{
    margin-left:20px;
}



@media (min-width: 800px){
    
    .homeheader__logoxl{
        width:100%;
        height:100px;
        margin-top:0;
    }
    
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
        justify-items:center;
        width:90%;
        max-width:1200px;
    }
    
    .homeheader__inloggen{
        margin:0;
        grid-column:2 / 3;
        grid-row:1/2;
    }
    
    h1{
        grid-column:1/2;
    }
    
    .homeheader__userpictures{
        display:grid;
        grid-template-columns:repeat(10, 1fr);
        justify-content:center;
        max-width:1000px;
        
    }

    
    
    .userpicture{
        flex:none;
        width:auto;
        min-width:auto;
        /*min-height:auto;*/
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    #key0{
        grid-column: 6 / 7;
    }
    
    #key1{
        grid-column: 9 / 10;
    }
    
    #key2{
        grid-column: 1 / 2 ;
    }
    
    #key3{
        grid-column: 3 / 4;
    }
    
    #key4{
        grid-column: 4 / 6;
        grid-row: 2 / span 2;
        
        
    }
    
    #key5{
        grid-column: 7 / span 1;
    }
    
    #key6{
        grid-column: 9 / span 1;
    }
    
    #key8{
        grid-column: 2 / span 1 ;
    }
    
    #key9{
        grid-column: 7/ span 2;
        grid-row: 3 / span 2;
        
    }
    
    #key10{
        grid-column: 9 / span 1;
    }
    
    #key11{
        grid-column: 3 / span 1;
    }
    
    .homemain{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
        grid-gap:50px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
        max-width:1000px;
    }
    
    
    
    .homemain__firstarticle{
        grid-row:1/3;
        align-self: center;
    }
}



/* kweeni.html */

.vraag {
    display: block; 
    background-color: #ffeef0;
    text-align: center; 
}

.vraag .vraag__h1 {
    color: #fa5b33; 
    font-size: 40px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.vraag input {
    border-color: #fa5b33;
    width: 80%;
    height: 70px; 
    padding: 20px; 
    max-width: 700px; 
}

.vraag__btn {
    text-align: center;
}


.vraag__btn--btn {
    width: 250px;
    height: 50px; 
    background-color: #3928aa; 
    color: #e4e0ff; 
    font-size: 25px; 
    margin: 20px; 
    border-radius: 12px; 
    border-style: solid; 
    cursor: pointer;
}

.topics__h2 {
    text-align: center; 
}

.topics__question {
    display: grid;
    grid-template-columns: 70px 3fr 2fr 20px;
    align-items: center;    
}

.topics__question--likes {
    background-color: #eeeeee;
    width: 60px; 
    height: 40px; 
    align-items: center;
    text-align: center; 
    margin-left: 5px;
    display: grid;
    grid-template-columns: 20px 30px;
    grid-column-gap: 5px;
    justify-items: center;
}

.topics__question--img {
    width: 20px; 
}

.topics__question--a {
    justify-self: start;
    color: black;
}

.topics__question--author {
    color: #e09583; 
    justify-self: end;
    margin-right: 3px;
}

.topics__question--img {
    width: 20px;
    border-radius: 20%; 
    justify-self: start;
    margin-right: 5px;
}

.topics hr {
    opacity: 0.5; 
}

.topics__a {
    display: block; 
    margin: 50px; 
    text-align: center; 
}

@media (min-width: 700px){
    /* more margin and padding */
    .topics{
        padding: 30px; 
    }

    .logo__img {
        margin-left: 20px;
    }

    .vraag {
        padding: 20px; 
    }

    .vraag__h1 {
        padding: 20px 60px;
        margin: 0px; 
    }

    .topics__question--author {
        padding-right: 10px;
    }
}

/* watis.html */
.main
{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 230px 70px 90px;
}

.head {
    background-color: #FFF6F7;
    text-align: center; 
    padding: 20px; 
    display: grid; 
    grid-column-start: span 3;
}

.head__h1 {
    color: #fa5b33; 
    font-size: 40px; 
    padding: 20px;
    margin: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Patua One';
}

.likes
{
    background-color:#F6E5E7;
    color: blue;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3 / span 4;
}

.likes__like
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        justify-items: center;
        align-items: center;
    }

    .likes__like--img
    {
        width: 30px;
        justify-self: end;
    }

    .likes__like--p
    {
        justify-self: start;
    }

    .likes__like--a
    {
        display: inline-block;
        font-weight: bold;
        padding: 15px;
        padding-top: 5px;
        text-align: center;
        grid-column-start: span 3;
        font-family: 'Patua One', serif;
    }

.users
{
    background-color: #FFEEF0;
    padding: 25px;
}

.users__pic
{
    max-width: 100%;
    width: 20px;
    border-radius: 20%;
}

.auteur
{
    color: #fa5b33;
    font-style: italic;
    background-color: #FFF6F7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 50px;
    grid-column-start: span 3;
    justify-items: end;
    align-items: center;    
}

.auteur__p
{
    margin: 0px;
    align-self: end;
}

.auteur__span
{
    font-weight: bold;
    font-style: normal;
    margin: 0px;
    align-self: start;
}

.auteur__img
{
    width: 40px;
    border-radius: 10%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    align-self: center;
}


/* start grid layout */
@media (min-width: 800px){

    .main
    {
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 150px 100px; 
    }

    .head {
        display: grid;    
        grid-column-start: span 6;
    }

    .auteur__img
    {
        margin-right: 5px; 
    }
    
    .auteur {

        background-color: #FFEEF0;
        display: grid;
        order: 3;
    }


}

.comments__pic{
    width: 30px;
    border-radius: 20%;
    margin-right: 2px;
}

.comments
{
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: grey;
}

.comments__a {
    text-decoration: none;
    color: gray;
    font-family: 'Patua One', serif;
}

.right {
	text-align: right;
    margin-left: auto;
    width: 350px;
}

.placeComment
{
    border: 15px solid #DCDCDC;
    margin-left: auto;
    width: 300px;
    margin-bottom: 5px;
}

.placeComment input
{
    width: 100%;
    padding: 5px;
    font-family: 'Patua One', serif;
}

.react img
{
    width: 40px;
}

.react
{
    border: 15px solid #494e61;
    background-color: #494e61;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.react__form
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.react .react__input
{
    width: 300px;
    height: 40px;
    font-family: 'Patua One', serif;
    background-color: #DCDCDC;
    padding: 10px;
}

.react__a
{
    background-color: #3B1CFF;
    color: #DCDCDC;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 250px;
    font-size: 18px;
    font-family: 'Patua One', serif;
    text-decoration: none;
    text-align: center;
}


@media (min-width: 700px){
    /* more margin and padding */
    .likes__like--img
    {
        margin-left: 30px;
    }
    
    .right{
        width: 500px;
    }
    
    
    
}





