.question .question__h1 {
    color: $orange; 
    font-size: 40px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.align h2{
    margin-left:20px;
}

h1{
    width:75%;
    font-size:1.5em;
}

.head__h1 {
    color: $orange; 
    font-size: 40px; 
    padding: 20px;
    margin: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: $font-primary;
}

.topics__h2 {
    text-align: center; 
}